/* The light blue background is #e3f1f7 The blue button is #3498db*/
/* add obnoxious red border to divs to help align them*/
/*blue background is probably on the body*/
Body{
    font-family: "Lora";
    background-color: #e3f1f7;
}

.container{
    border: 3px solid black;
    width: 400px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.heading{
    border: 3px solid red;
    text-align: center;
}

h1{
    margin-bottom: 0px;
}

h2{
    font-size: medium;
    margin-top: 5px;
    font-weight: lighter;
}

.inputs{
    border: 3px solid red;
    text-align: center;
}

.button{
    border: 3px solid red;
    display: flex;
    height:145px;
}

#signIn{
    background-color: #3498db;
    color: White;
    font-weight: bold;
    width:300px;
    height:40px;
}

.lost{
    text-decoration: none;
    float:center;
}

.newUser{
    text-decoration: none;
}

#password_input{
    width:300px;
    height: 35px;
    margin-bottom: 20px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom:1px solid black;
}

#email_input{
    width: 300px;
    height:35px;
    margin: 20px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom:1px solid black;
}